


/*.section {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

/*.container3 {
    width:1900px;
    height:300px;
    background-color:greenyellow;
    background-size: cover;
    background-position:bottom;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.card8{
background: rgb(5, 5, 5);
width:300px;
height:300px;
margin:0px;
margin-top:0px;
border-radius:20px;

}
.card-image2{
    background-color: black;
    height:300px;
    width:300px;
    margin-bottom:15px;
    background-size:cover;
    border-radius:15px 15px 0 0;
    flex-shrink: 0;
*/



/*.container .scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px white;
    border-radius:10px;
    background-color: rgb(62,62,62);
}

.container .scrollbar::-webkit-scrollbar-thumb{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px lightgrey;

}
 
.container .scrollbar{
    overflow-x:hidden!important;
}*/

body{
    background-image: url("https://images.unsplash.com/photo-1523738914649-b0d2753887a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=888&q=80");
    background-size: contain;
    background-color:white;
    font-family: 'Satisfy', cursive;
    font-family: 'Special Elite', cursive;
}


.container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    

}
.container2{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

/*.container .scrollbar ::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgb(62,62,62);
    width:12px;
  }
  
   
  
.container .scrollbar ::-webkit-scrollbar-track {
  
    scrollbar-color: rgb(62,62,62);
  
    border-radius: 10px;
  
  }
  
   
  
.container .scrollbar::-webkit-scrollbar-thumb {
  
    background: rgb(62,62,62);
    border: 3px solid 
    border-radius: 10px;
  
  }*/

.card{
 
    width:300px;
    height:300px;
    margin:30px;
    margin-top:50px;
    min-height: min-content; 
    overflow: scroll;
    overflow-x: hidden;
    background: linear-gradient(to right bottom, rgba(220, 114, 247, 0.3), rgba(251, 249, 253, 0.2));
    border-radius:2rem;
    z-index:1;
    backdrop-filter:blur(.10rem);
  
}

.card-image{
    background-color: white;
    height:200px;
    margin-bottom:15px;
    background-size:cover;
    border-radius:15px 15px 0 0;
    flex-shrink: 0;
    z-index:2;
    
}

.card-1{
    background-image:url("https://images.unsplash.com/photo-1580013759032-c96505e24c1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=825&q=80");
    
}

.card-2{
    background-image:url("https://images.unsplash.com/photo-1610450620997-6921021865da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
}

.card-3{
    background-image:url("https://images.unsplash.com/photo-1617468152793-7b6c03cc1d5f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=282&q=80");
}

.card-4{
    background-image:url("https://images.unsplash.com/photo-1601059286024-61032e83b203?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");
}

.card-5{
    background-image:url("https://images.unsplash.com/photo-1571162437205-8889ff2fee26?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.card-6{
    background-image:url("https://images.unsplash.com/photo-1578160112054-954a67602b88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
}

/*.card-8{
    background-image:url("https://images.unsplash.com/photo-1600381934582-a3655589887d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
    
}*/

.card h2{
    padding:10px;
    padding-top: 0;
    color: black;
}

.card p{
    padding:10px;
    color:black;
}

.card a{
    background-color:black;
    color:white; 
    padding: 10px 15px;
    display:block;
    text-align:center;
    margin: 20px 50px;
    text-decoration:none;
    border-radius:17px;
}

.card:hover{
background-color: rgb(15, 15, 15);
color:white;
font-weight:300;
cursor:pointer;
transform:scale(1.15);
transition:all 1s ease;
}

#mainNavbar {
    font-size: 1 rem;
    font-weight: 50;
}

#mainNavbar .nav-link {
    color: rgb(225, 226, 206);

}

#mainNavbar .nav-link:hover {
    color: rgb(150, 14, 212);
    
}

#mainNavbar .navbar-brand {
    color:rebeccapurple;
    font-size: 1.5rem;
    font-weight: 100;
}

#headingGroup span{
    color: rgb(62,62,62);
}
#headingGroup h1{
    font-weight: 50;
    font-size: 2rem;
}

.navbar.scrolled {
    background: black;
    transition: background 300ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }